<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @patient.ssn %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @patient.phone_number %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'appointments', patient_appointments_path(@patient) %> |
<%= link_to 'Back', patients_path %>
<%= link_to '<button type="button">Add appointment</button>'.html_safe, new_patient_appointment_path(@patient) %>
<%= render 'partials/footer', patient: @patient %>
