<%= form_with(url: patient_appointments_path ,model: appointment , local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :appointment_date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :appointment_time %>
  </div>

  <div class="field">
    <%= form.label :clinic %>
    <%= form.text_field :clinic, id: :appointment_clinic %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :appointment_address %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.number_field :patient_id, id: :appointment_patient_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
