<h1>Editing Appointment</h1>

<%= render 'form', appointment: @appointment %>

<%= link_to 'Show', patient_appointment_path(@apponitment.patient, @appointment) %> |
<%= link_to 'Back', patient_appointments_path(@appointment.patient) %>
