<p id="notice"><%= notice %></p>

<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Clinic</th>
      <th>Address</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.time %></td>
        <td><%= appointment.clinic %></td>
        <td><%= appointment.address %></td>
        <td><%= appointment.patient_id %></td>
        <td><%= link_to 'Show', patient_appointment_path(appointment.patient.id, appointment) %></td>
        <td><%= link_to 'Edit', edit_patient_appointment_path(appointment.patient.id, appointment) %></td>
        <td><%= link_to 'Destroy', patient_appointment_path(appointment.patient.id, appointment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_patient_appointment_path %>

<%= link_to 'back', patient_path(@appointments.first.patient) %>
<%= render 'partials/footer', patient: @appointments.first.patient %>
